<form>
  <div class="form-input">
    <label
      for="register-email"
      class="text-xs font-bold uppercase text-neutral-400"
      >Email <span class="text-red-500">*</span></label
    >
    <input
      type="email"
      id="register-email"
      class="block w-full bg-neutral-900 rounded-sm p-2 my-2 mb-4"
    />
  </div>

  <div class="form-input">
    <label
      for="register-display-name"
      class="text-xs font-bold uppercase text-neutral-400"
      >Display name</label
    >
    <input
      type="text"
      id="register-display-name"
      class="block w-full bg-neutral-900 rounded-sm p-2 my-2 mb-4"
    />
  </div>

  <div class="form-input">
    <label
      for="register-username"
      class="text-xs font-bold uppercase text-neutral-400"
      >Username <span class="text-red-500">*</span></label
    >
    <input
      type="text"
      id="register-username"
      class="block w-full bg-neutral-900 rounded-sm p-2 my-2 mb-4"
    />
  </div>

  <div class="form-input">
    <label
      for="register-password"
      class="text-xs font-bold uppercase text-neutral-400"
      >Password <span class="text-red-500">*</span></label
    >
    <input
      type="password"
      id="register-password"
      class="block w-full bg-neutral-900 rounded-sm p-2 my-2"
    />
  </div>

  <div class="form-input">
    <label
      for="register-birthdate"
      class="text-xs font-bold uppercase text-neutral-400"
      >Date of birth <span class="text-red-500">*</span></label
    >
    <input
      type="date"
      id="register-birthdate"
      class="block w-full bg-neutral-900 rounded-sm p-2 my-2 mb-6"
    />
  </div>

  <button
    class="w-full p-3 mb-3 rounded-sm bg-primary text-sm text-white hover:bg-primary"
  >
    Register
  </button>

  <p class="text-xs text-neutral-400 mb-5">
    By registering, you agree to Discord's
    <a routerLink="/auth/login" class="btn-link">Terms of Service</a> and
    <a routerLink="/auth/login" class="btn-link">Privacy Policy</a>
  </p>

  <a routerLink="/auth/login" class="text-sm btn-link"
    >Already have an account?</a
  >
</form>
